TECHNICAL REQUIREMENTS

The following elements must be completed by ${accountName} and verified by your impact.com Implementation Engineer before your new program(s) and/or conversion event(s) can go live.  


Configure your custom tracking domain (optional).
    See the GUIDELINES FOR CUSTOM TRACKING DOMAINS section below for more information.
Provide the domain(s) for all staging environments where the implementation will be tested
Confirm the production domain(s) where the implementation will be deployed:
    ${siteDefinition}
Confirm Impact can append the parameter, im_ref={clickid}, on all landing page URLs
    A landing page is any webpage to which a consumer is directed when they click on an ad
    See Appendix 1, User Journey at the end of this document for an example application of the Click Id
Confirm the production domain(s) and/or URL structure permitted for Deep Linking:
    ${deepLinking}
    A Deep Link is any webpage specified by a partner (as a modification to the original ad landing page) to serve as the landing page for an ad for the purpose of promoting a product, product category, offer promotion, or similar tactic. 
Staging
    Implement and test the Universal Tracking Tag
    Implement and test the Identify function
    Implement and test the trackConversion function
    Complete end-to-end testing for any/all conversion events
Production
    Implement and test the Universal Tracking Tag
    Implement and test the Identify function
    Implement and test the trackConversion function
    Complete end-to-end testing for any/all conversion events
    Complete conversion event validation for any/all conversion events

Please refer to Appendix 1 at the end of this document for additional technical requirements that may be relevant to your implementation. 















